networks:
  aws-lambda-calculator-net:

services:
  api:
    container_name: lambda 
    platform: linux/amd64
    build:
      context: .
      # target: distroless
      target: lambda_runtime
      dockerfile: Containerfile
      tags:
        - ghcr.io/zmynx/aws-lambda-calculator:latest
        - ghcr.io/zmynx/aws-lambda-calculator:1.0.4
        - ghcr.io/zmynx/aws-lambda-calculator:123456789010
      cache_from:
        - zMynx/aws-lambda-calculator
        # - type=local,src=./.podman-cache
        - type=gha
      args:
        VERSION: 2.0.7
        PYTHON_VERSION: 3.13
      labels:
        project: aws-lambda-calculator
        org: zmynx
        commit-sha: 123456789010
        version: 1.0
        org.opencontainers.image.source: https://github.com/zmynx/aws-lambda-calculator
        org.opencontainers.image.description: AWS Lambda Calculator is the only extensive and thorough cost estimation tool for the AWS Lambda product. It's based on a simple API that produces a cost estimation based on different Lambda configuration variables and parameters such as CPU, RAM, concurrency, invocations, free tier, and much more. This can be helpful for any FinOps fields or tools in the future.
        org.opencontainers.image.licenses: Apache-2.0
      privileged: false
    # image: zmynx/aws-lambda-calculator
    # Test the cli locally
    # entrypoint: ["/usr/bin/python"]
    # command: ["cli.py", "--help"]
    # Test the lambda function locally:
    # curl -X POST http://localhost:9000/2015-03-31/functions/function/invocations -d '{"key": "value"}'
    networks:
      - aws-lambda-calculator-net
    ports:
      - 9000:8080
    restart: unless-stopped

  kong:
    container_name: kong
    image: kong@sha256:94e6f008be9828a729b1e2e88e26718a15e3752a2f8634dbfb42d66dc6bf8dbc
    platform: linux/amd64
    environment:
      KONG_DATABASE: off
      KONG_DECLARATIVE_CONFIG: /usr/local/kong/declarative/kong.yaml
    networks:
      - aws-lambda-calculator-net
    ports:
      - 8000:8000
    volumes:
      - ./kong:/usr/local/kong/declarative
    restart: unless-stopped
    depends_on:
    - api 

  # frontend:
  #   platform: linux/amd64
  #   build:
  #     context: static-website
  #     # target: distroless
  #     target: development-dependencies-env
  #     dockerfile: Dockerfile 
  #     labels:
  #       project: aws-lambda-calculator
  #       org: zmynx
  #       commit-sha: 123456789010
  #       version: 1.0
  #       org.opencontainers.image.source: https://github.com/zmynx/aws-lambda-calculator
  #       org.opencontainers.image.description: AWS Lambda Calculator is the only extensive and thorough cost estimation tool for the AWS Lambda product. It's based on a simple API that produces a cost estimation based on different Lambda configuration variables and parameters such as CPU, RAM, concurrency, invocations, free tier, and much more. This can be helpful for any FinOps fields or tools in the future.
  #       org.opencontainers.image.licenses: Apache-2.0
  #     # platforms:
  #     #   - linux/amd64
  #     #   - linux/arm64
  #     privileged: false
  #   # image: zmynx/aws-lambda-calculator
  #   # Test the cli locally
  #   # entrypoint: ["/usr/bin/python"]
  #   # command: ["cli.py", "--help"]
  #   # Test the lambda function locally:
  #   # curl -X POST http://localhost:9000/2015-03-31/functions/function/invocations -d '{"key": "value"}'
  #   entrypoint: ["npm", "run", "dev"]
  #   volumes:
  #   - ./static-website:/app
  #   ports:
  #   - "5173:5173"
  #   restart: unless-stopped
  #   depends_on:
  #   - api 
