[project]
name = "aws-lambda-calculator"
dynamic = [ "version" ]
description = "AWS Lambda Calculator"
authors = [
    {name = "zMynx",email = "lior.dux@develeap.com"}
]
maintainers = [
    {name = "Alex Machulsky",email = "alexm051197@gmail.org"},
]
readme = "README.md"
requires-python = ">=3.13"
license = { file = "../LICENSE" }
# dependencies = []

[tool.poetry]
requires-poetry = ">=2.1.1"
package-mode = true
packages = [{include = "aws_lambda_calculator", from = "src"}]
version = "1.0"  # base version

[tool.poetry.requires-plugins]
poetry-plugin-export = ">=1.8"

[project.urls]
homepage = "https://github.com/zMynx/aws-lambda-calculator"
repository = "https://github.com/zMynx/aws-lambda-calculator"
documentation = "https://github.com/zMynx/aws-lambda-calculator/docs/"

[tool.poetry.group.dev.dependencies]
black = "^25.1.0"
ruff = "^0.9.7"
pytest = "^8.3.4"
mypy = "^1.15.0"

[project.scripts]
my_package_cli = 'my_package.console:run'

[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"
