black==25.1.0 ; python_version >= "3.13"
click==8.1.8 ; python_version >= "3.13"
colorama==0.4.6 ; (platform_system == "Windows" or sys_platform == "win32") and python_version >= "3.13"
iniconfig==2.1.0 ; python_version >= "3.13"
mypy-extensions==1.1.0 ; python_version >= "3.13"
mypy==1.15.0 ; python_version >= "3.13"
packaging==25.0 ; python_version >= "3.13"
pathspec==0.12.1 ; python_version >= "3.13"
pluggy==1.6.0 ; python_version >= "3.13"
platformdirs==4.3.8 ; python_version >= "3.13"
pytest==8.3.4 ; python_version >= "3.13"
ruff==0.9.7 ; python_version >= "3.13"
typing-extensions==4.13.2 ; python_version >= "3.13"
