# .github/workflows/cd-image.yaml
---
name: CD Image

on:
  workflow_run:
    workflows: [CD]
    types: [completed]

jobs:
  build-push-sign:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Build Container, Push to Registry, and Sign with Cosign
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write # needed for signing the images with GitHub OIDC Token
      attestations: write
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: true
      matrix:
        include:
          - target: distroless
            tag-suffix: ""
          - target: lambda_runtime
            tag-suffix: "-lambda"
    steps:
      - name: Download a Build Artifact
        id: download-artifact
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: aws_lambda_calculator
          github-token: ${{ github.token }}
          repository: ${{ github.repository }}
          run-id: ${{ github.event.workflow_run.id }}

      - name: Extract the release version
        id: release-version
        run: |
          set -exuo pipefail
          artifact=$(ls '${{ steps.download-artifact.outputs.download-path }}'/aws_lambda_calculator-*-py3-none-any.whl | awk -F'/' '{print $NF}')
          release_version=$(echo $artifact | cut -d'-' -f2)
          echo "Discovered release version: $release_version"
          echo release_version=$release_version >> $GITHUB_OUTPUT

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ steps.release-version.outputs.release_version }}
          fetch-depth: 1
          persist-credentials: false

      - name: Install Cosign
        uses: sigstore/cosign-installer@d7543c93d881b35a8faa02e8e3605f69b7a1ce62 # v3.10.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - id: docker_meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          images: ghcr.io/${{ github.repository }}
          tags: type=sha,format=long

      - name: Build and Push container images
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: build-and-push
        with:
          context: .
          file: Containerfile
          platforms: linux/amd64,linux/arm64
          build-args: VERSION=${{ steps.release-version.outputs.release_version }}
          target: ${{ matrix.target }}
          labels: |
            project='aws-lambda-calculator'
            org='zmynx'
            commit-sha='${{ github.sha }}'
            version='${{ steps.release-version.outputs.release_version }}'
            target='${{ matrix.target }}'
            org.opencontainers.image.source='https://github.com/${{ github.repository }}'
            org.opencontainers.image.description='AWS Lambda Calculator is the only extensive and thorough cost estimation tool for the AWS Lambda product. It's based on a simple API that produces a cost estimation based on different Lambda configuration variables and parameters such as CPU, RAM, concurrency, invocations, free tier, and much more. This can be helpful for any FinOps fields or tools in the future.'
            org.opencontainers.image.licenses='Apache-2.0'
          tags: |
            ${{ steps.docker_meta.outputs.tags }}${{ matrix.tag-suffix }}
            ghcr.io/${{ github.repository }}:cache${{ matrix.tag-suffix }}
            ghcr.io/${{ github.repository }}:${{ github.sha }}${{ matrix.tag-suffix }}
            ghcr.io/${{ github.repository }}:${{ steps.release-version.outputs.release_version }}${{ matrix.tag-suffix }}
            ghcr.io/${{ github.repository }}:latest${{ matrix.tag-suffix }}
          provenance: true
          sbom: true
          cache-from: |
            ghcr.io/${{ github.repository }}:cache${{ matrix.tag-suffix }}
            ghcr.io/${{ github.repository }}:${{ github.sha }}${{ matrix.tag-suffix }}
            ghcr.io/${{ github.repository }}:${{ steps.release-version.outputs.release_version }}${{ matrix.tag-suffix }}
            ghcr.io/${{ github.repository }}:latest${{ matrix.tag-suffix }}
          cache-to: type=inline
          push: true

      - name: Attest
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        id: attest
        with:
          subject-name: ghcr.io/${{ github.repository }}
          subject-digest: ${{ steps.build-and-push.outputs.digest }}
          push-to-registry: true

      - name: Sign and verify the images with GitHub OIDC Token
        env:
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
          TAGS: ${{ steps.docker_meta.outputs.tags }}${{ matrix.tag-suffix }}
        run: |
          images=""
          for tag in ${TAGS}; do
            images+="${tag}@${DIGEST} "
          done
          cosign sign --yes ${images}
          cosign verify ${images} \
            --certificate-identity='https://github.com/${{ github.repository }}/.github/workflows/cd-image.yaml@refs/heads/${{ github.ref_name }}' \
            --certificate-oidc-issuer='https://token.actions.githubusercontent.com'

      #############################################
      # PODMAN
      # - name: Build an image from Dockerfile
      #   id: build
      #   run: podman build --file Containerfile . --tag ghcr.io/'${{ github.repository }}':'${{ github.sha }}'
      #
      # - name: Log in to ghcr.io
      #   uses: redhat-actions/podman-login@v1
      #   with:
      #     username: ${{ github.actor }}
      #     password: ${{ github.token }}
      #     registry: ghcr.io/${{ github.repository }}
      #
      # - name: Push image to registry
      #   id: push
      #   run: podman push ghcr.io/'${{ github.repository }}':'${{ github.sha }}'

      #############################################
      # PODMAN w/ Cosign
      # - name: Log in to ghcr.io
      #   uses: redhat-actions/podman-login@v1
      #   with:
      #     username: ${{ github.actor }}
      #     password: ${{ github.token }}
      #     registry: ghcr.io/${{ github.repository }}
      #
      # - name: Push image to registry
      #   id: push
      #   run: |
      #     podman pull ghcr.io/'${{ github.repository }}':'${{ github.sha }}'
      #     podman tag ghcr.io/'${{ github.repository }}':'${{ github.sha }}' ghcr.io/'${{ github.repository }}':'${{ needs.package.outputs.release_version }}'
      #     podman push ghcr.io/'${{ github.repository }}':'${{ github.sha }}' ghcr.io/'${{ github.repository }}':'${{ needs.package.outputs.release_version }}'
      #     podman tag ghcr.io/'${{ github.repository }}':'${{ github.sha }}' ghcr.io/'${{ github.repository }}':latest
      #     podman push ghcr.io/'${{ github.repository }}':'${{ github.sha }}' ghcr.io/'${{ github.repository }}':latest

      #############################################
      # PODMAN
      # - name: Run Trivy vulnerability scanner
      #   uses: aquasecurity/trivy-action@0.28.0
      #   with:
      #     image-ref: ${{ needs.check-pr-status.outputs.tagged_image }}
      #     format: table
      #     exit-code: '1'
      #     ignore-unfixed: true
      #     vuln-type: 'os,library'
      #     severity: 'CRITICAL,HIGH'

# spbom:
#   needs:
#   name: Generate SPBOM
#   runs-on: ubuntu-latest
#   permissions:
#     contents: write
#   defaults:
#     run:
#       shell: bash
#   steps:
#     - name: Checkout code
#       uses: actions/checkout@v4.2.2
#
#     - name: Run Trivy in GitHub SBOM mode and submit results to Dependency Graph
#       uses: aquasecurity/trivy-action@0.28.0
#       with:
#         scan-type: fs
#         format: github
#         output: dependency-results.sbom.json
#         image-ref: .
#         github-pat: ${{ github.token }}
#
# scan:
#   name: Scan Image
#   runs-on: ubuntu-latest
#   permissions:
#     contents: read
#     packages: write
#     id-token: write
#     security-events: write
#   defaults:
#     run:
#       shell: bash
#   steps:
#
#     - name: Checkout
#       uses: actions/checkout@v4.2.2
#
#     - name: Run Trivy vulnerability scanner
#       uses: aquasecurity/trivy-action@0.29.0
#       with:
#         image-ref: ${{ env.TAGGED_IMAGE }}
#         format: 'sarif'
#         output: 'trivy-results.sarif'
#
#     - name: Upload Trivy scan results to GitHub Security tab
#       uses: github/codeql-action/upload-sarif@v1
#       with:
#         sarif_file: 'trivy-results.sarif'
#
