# .github/workflows/code-checks.yaml
---
name: Code Standard Checks
on:
  workflow_dispatch:
  workflow_call:

jobs:
  code-checks:
    name: Code Standard Checks
    runs-on:
      - linux
      - poc
      - test
      - terraform-aws-github-runner
    permissions:
      contents: read 
    defaults:
      run:
        working-directory: aws-lambda-calculator
        shell: bash
    steps:
      - uses: step-security/harden-runner@446798f8213ac2e75931c1b0769676d927801858  # v2.10.3
        with:
          egress-policy: audit
          disable-sudo: true

      - name: Checkout
        uses: actions/checkout@v4

      # - name: Setup Python
      #   uses: actions/setup-python@v5.4.0
      #   with:
      #     python-version-file: pyproject.toml
      #     cache: poetry

      - name: Setup poetry
        run: |
          sudo dnf install python3.13 python3.13-pip --yes
          python3.13 --version
          python3.13 -m pip install --upgrade pip
          python3.13 -m pip install poetry==2.1.1

      - name: Install dependencies
        run: python3.13 -m poetry install

      - name: Lint (ruff)
        run: |
          python3.13 -m poetry run ruff format --check
          python3.13 -m poetry run ruff check

      - name: Types cheking (mypy)
        run: python3.13 -m poetry run mypy --check-untyped-defs .

      - name: Notify failure if checks failed
        if: ${{ failure() }}
        env:
          msg: Some of the code standard checks have failed. Please run `just checks`
            locally before pushing your changes.
        run: |-
          echo "::error::${msg}"
