# .github/worklows/devpod.yaml
---
name: Devcontainer Build

on:
  workflow_dispatch:
  push:
    paths:
      - '.devcontainer/**'
      - '.github/workflows/devpod.yaml'

jobs:
  build:
    name: Devcontainer Build ${{ matrix.name }}-${{ matrix.arch }}
    strategy:
      matrix:
        name: [docker, aws]
        arch: [amd64, arm64]
    runs-on:
      - runs-on=${{ github.run_id }}
      - ${{ matrix.arch == 'amd64' && 'runner=2cpu-linux-x64' || 'runner=2cpu-linux-arm64' }}
      - env=poc
      - spot=lowest-price
      - region=eu-central-1
    permissions:
      contents: read
      packages: write
      id-token: write
    defaults:
      run:
        shell: bash
    env:
      AWS_REGION: eu-central-1
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.6.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.10.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ghcr.io
          username: zmynxx
          password: ${{ secrets.PAT }}

      - id: docker_meta
        uses: docker/metadata-action@v5.7.0
        with:
          images: ghcr.io/zmynx/devpod-demo
          tags: type=sha,format=long

      - name: Install Devpod
        run: |
          curl -L -o devpod "https://github.com/loft-sh/devpod/releases/latest/download/devpod-linux-${{ matrix.arch }}" && sudo install -c -m 0755 devpod /usr/local/bin && rm -f devpod

      - name: Set Devpod Context Options
        run: devpod context set-options -o REGISTRY_CACHE='ghcr.io/zmynx/devpod-demo'

      - name: Add docker provider
        run: devpod provider add '${{ matrix.name }}' || true

      - name: Build with Devpod
        run: |
          #!/bin/bash
          set -exuo pipefail
          devpod build . \
            --devcontainer-path '.devcontainer/${{ matrix.name }}.json' \
            --repository ghcr.io/zmynx/devpod-demo \
            --provider '${{ matrix.name }}' \
            --platform linux/'${{ matrix.arch }}' \
            --tag '${{ matrix.name }}'-'${{ matrix.arch }}' \
            --tag latest
