# .github/worklows/devpod.yaml
---
name: Devcontainer Build

on:
  workflow_dispatch:
  push:
    paths:
      - '.devcontainer/**'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        platform: [linux/amd64, linux/arm64]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Install Devpod
        run: |
          if [ "${{ matrix.platform }}" == "linux/amd64" ]; then
            curl -L -o devpod "https://github.com/loft-sh/devpod/releases/latest/download/devpod-linux-amd64" && sudo install -c -m 0755 devpod /usr/local/bin && rm -f devpod
          elif [ "${{ matrix.platform }}" == "linux/arm64" ]; then
            curl -L -o devpod "https://github.com/loft-sh/devpod/releases/latest/download/devpod-linux-arm64" && sudo install -c -m 0755 devpod /usr/local/bin && rm -f devpod
          fi

      - name: Build with Devpod
        working-directory: .devcontainer
        run: |
          devpod build . \
            --repository ghcr.io/'${{ github.repository }}' \
            --provider docker \
            --platform '${{ matrix.platform }}' \
            --tag '${{ matrix.platform }}'
