name: GitGuardian scan

on:
  push:
    branches: [main, protected]
  pull_request:
   branches: [main]
   types: [opened, synchronize, reopened]
  merge_group:
  workflow_dispatch:

jobs:
  scanning:
    name: GitGuardian scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5.0.0
        with:
          fetch-depth: 0 # fetch all history so multiple commits can be scanned

      - name: GitGuardian scan
        uses: GitGuardian/ggshield-action@0935c02957f6fd78bc52166570e4e345c539120f # v1.43.0
        with:
          args: --all-secrets --with-incident-details -v --ignore-known-secrets # TBD: Sarif report --format sarif
        env:
          GITHUB_PUSH_BEFORE_SHA: ${{ github.event.before }}
          GITHUB_PUSH_BASE_SHA: ${{ github.event.base }}
          GITHUB_DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
          GITGUARDIAN_API_KEY: ${{ secrets.GITGUARDIAN_API_KEY }}
