# .github/workflows/github-pages.yaml
---
name: GitHub Pages

on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    permissions:
      contents: write
    defaults:
      run:
        shell: bash
        working-directory: pages 
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - uses: actions/setup-python@v5.4.0
        with:
          python-version: 3.x

      - name: Cache
        run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 

      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache 
          restore-keys: |
            mkdocs-material-

      - name: Install dependencies
        run: python -m pip install mkdocs-material 

      - name: Deploy
        run: python -m mkdocs gh-deploy --force
