name: GitHub Pages
on:
  push:
    branches: [main]
jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    # permissions:
      # contents: write
    defaults:
      run:
        shell: bash
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: static-website/package-lock.json

      - name: Install dependencies
        working-directory: static-website
        run: npm install

      - name: Build React App
        working-directory: static-website
        run: npm run build

      # - name: Deploy to GitHub Pages
        # working-directory: static-website
        # run: npm run deploy
        # env:
        #   GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }} 
          publish_dir: static-website/dist
