# .github/workflows/release.yaml
---
name: Release 
on:
  workflow_run:
    workflows: [CD]
    types: [completed]

jobs:
  release:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: GitHub Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    defaults:
      run:
        shell: bash
    steps:
      - name: Download a Build Artifact
        id: download-artifact
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: aws_lambda_calculator
          github-token: ${{ github.token }}
          repository: ${{ github.repository }}
          run-id: ${{ github.event.workflow_run.id }}

      - name: Extract the release version
        id: release-version
        run: |
          set -exuo pipefail
          artifact=$(ls '${{ steps.download-artifact.outputs.download-path }}'/aws_lambda_calculator-*-py3-none-any.whl | awk -F'/' '{print $NF}')
          release_version=$(echo $artifact | cut -d'-' -f2)
          echo "Discovered release version: $release_version"
          echo release_version=$release_version >> $GITHUB_OUTPUT

      - uses: sigstore/gh-action-sigstore-python@4d8073002085140f3b62750c0328507ac4fb6a54 # v3.0.1
        with:
          inputs: |
            ${{ steps.download-artifact.outputs.download-path }}/aws_lambda_calculator-*-py3-none-any.whl
            ${{ steps.download-artifact.outputs.download-path }}/aws_lambda_calculator-*.tar.gz
          release-signing-artifacts: true
          verify: true
          verify-cert-identity: 'https://github.com/${{ github.repository }}/.github/workflows/release.yaml@refs/heads/${{ github.ref_name }}'
          verify-oidc-issuer: https://token.actions.githubusercontent.com

      - name: GH Release
        uses: softprops/action-gh-release@fbadcc90e88ecface60a0a0d123795b784ceb239 # v2.3.2
        with:
          name: ${{ steps.release-version.outputs.release_version }}
          tag_name: ${{ steps.release-version.outputs.release_version }}
          files: |
            aws_lambda_calculator-*-py3-none-any.whl
            aws_lambda_calculator-*-py3-none-any.whl.sigstore.json
            aws_lambda_calculator-*.tar.gz
            aws_lambda_calculator-*.tar.gz.sigstore.json
          fail_on_unmatched_files: true
          draft: false
          repository: ${{ github.repository }}
          token: ${{ github.token }}
          generate_release_notes: true
          make_latest: true
