# .github/workflows/terraform-aws-github-runner.yaml
---
name: terraform-aws-github-runner
on:
  workflow_dispatch:
  schedule:
    - cron: '15,45 * * * *' # twice an hour

jobs:
  code-checks:
    uses: ./.github/workflows/code-checks.yaml
    permissions:
      contents: read

  unit-tests:
    uses: ./.github/workflows/unit-tests.yaml
    permissions:
      contents: write
      pull-requests: write
    secrets: inherit

  integration-tests:
    uses: ./.github/workflows/integration-tests.yaml
    permissions:
      contents: write
      pull-requests: write
    secrets: inherit
